
<div class='view' id='dashboard-view'>

	<div ng-click="clickHamburger()" class='hamburger-control'>
		<img src="/static/icon/hamburger.png" class='hamburger'>
	</div>

	<div class='heading container-bar'>
		<span class='icon logo'></span>
		<h1 class='title'>DASHBOARD</h1>
	</div>


	<div ng-click="newList()" class='touchable list-item-container container-bar'>
		<span class='icon add'></span>
		<h2 class='title'>CREATE NEW LIST</h2>
	</div>

	<div ng-repeat="list in lists" class='touchable list-item-container container-bar'>
		<span ng-click="selectList(list)" class='icon house-{{$index}} house'></span>

		<div class='list-item'>
		<h2 class='title name'>{{list.name || 'UNTITLED'}}</h2>
		<div class='list-item-btns'>

			<img class='touchable' ng-click="selectList(list)" src="/static/icon/clean.png">
			<img class='touchable' ng-click="editList(list)" src="/static/icon/edit.png">
			<img class='touchable' ng-click="deleteList(list)" src="/static/icon/delete.png">
		</div>
		</div>
	</div>

</div>