
<div class='view' id='dashboard-view'>

	<div ng-click="clickHamburger()" class='hamburger-control'>
		<img src="/static/icon/hamburger.png" class='hamburger'>
	</div>

	<div class='heading container-bar'>
		<img class='icon logo'>
		<h1 class='title'>DASHBOARD</h1>
	</div>


	<div ng-click="newList()" class='touchable list-item-container container-bar'>
		<img class='icon add'>

		<div class='list-item'>
			<h2 class='title'>CREATE NEW LIST</h2>
		</div>
	</div>

	<div ng-repeat="list in lists" class='touchable list-item-container container-bar'>
		<img ng-click="selectList(list)" class='icon house-{{$index}} house'>

		<div ng-click="selectList(list)" class='list-item'>
			<h2 class='name'>{{list.name || 'UNTITLED'}}</h2>
			<p>modified {{list.last_modified | date:'MM/dd/yyyy'}}</p>
		</div>
		<span class='delete-btn' ng-click="deleteList(list)">-</span>
	</div>

</div>