
<!-- view shown when cleaner access list in clean mode
/list/:id/agreement -->

<div class='view' id='list-agreement-view'>

	<div id="list-info" class='heading container-bar'>
		<div class='list-main-info'>
			<span class='icon notes'></span>
			<h1 class='name'>{{list.name || 'NEW_CLIENT' | translate | limitTo: 15 }}</h1>
			<div ng-show="!editingListInfo">
				<p>{{ list.location }}</p>
				<p>{{(list.phonenumber | phonenumber) || 'PHONENUMBER' | translate }}</p>
			</div>
		</div>
	</div>

	<div id='list-title-banner'>
		<h3>{{ 'CLEANING_AGREEMENT' | translate: 'uppercase' }}</h3>
	</div>


	<ng-include src="'/static/html/partials/static-list.html'"></ng-include>

	<div id='list-cleaner-info'>
		<span id='cleaner-name-number'>
		<h3>{{list.cleaner.name}}</h3>
		<p>{{ list.cleaner.phonenumber | phonenumber }}</p>
		</span>

		<p id='last-modified'>{{ list.last_modified | date:'shortDate' }}</p>
	</div>

</div>


