<div class='view' id='list-view'>

	<div ng-click="clickHamburger()" class='hamburger-control'>
		<img src="/static/icon/hamburger.png" class='hamburger'>
	</div>

	<div id="list-info" ng-class="{'active': editingListInfo}" class='heading container-bar touchable'>
		<div class='list-main-info' ng-click="clickListInfo()">
			<img class='icon house-blue'>
			<h1 class='name'>{{list.name || 'NEW CLIENT'}}</h1>
			<div ng-show="!editingListInfo">
				<p>{{list.location || 'LOCATION'}}</p>
				<p>{{list.phonenumber || 'PHONENUMBER'}}</p>
			</div>
		</div>
		<div ng-show="editingListInfo">
			<p class='error'>{{error.message}}</p>
			<div class='input-group'>
				<div class='label-container'><label>Name:</label></div>
				<input ng-model="list.name" type="text">
			</div>
			<div class='input-group'>
				<div class='label-container'><label>Address:</label></div>
				<textarea ng-model="list.location"></textarea>
			</div>
			<div class='input-group'>
				<div class='label-container'><label>Phone:</label></div>
				<input ng-model="list.phonenumber" type="number">
			</div>

			<button ng-click="saveListInfo()" class='save-btn'>SAVE</button>
		</div>
	</div>

	<div ng-repeat="room in list.rooms" ng-class="{'active': room.active}" class='touchable room-container container-bar'>
		<div ng-click="clickRoom(room)" class='room-main-info'>
			<img ng-class="room.type" class='icon'>
			<h1 ng-class="room.type" class='title'>{{room.name}}</h1>
			<span ng-class="room.type" class='task-count'>{{room.taskCount}}</span>
		</div>

		<div ng-show="room.active" class='tasks-container'>
			<div ng-click="clickTask(room, task)" class='task' ng-class="{'selected': task.selected}" ng-repeat="task in room.tasks">
				<span ng-show="task.selected">-</span>
				<span ng-show="!task.selected">+</span>
				<span>{{task.name}}</span>
			</div>
			<div ng-model="newCustomTask" class='task add-custom-task'>
				<span>+</span>
				<input ng-model="newCustomTask" type="text">
				<button class='save-btn' ng-show="newCustomTask" ng-click="addCustomTask(room, newCustomTask);newCustomTask='';">SAVE</button>
			</div>
		</div>
	</div>

	<button ng-show="!confirmationSent" ng-click="sendList()" id='send-btn' class='btn short'>SEND</button>
	<p ng-show="confirmationSent" id='sent-confirmation'>SENT!</p>

</div>








