
<div ng-click="clickHamburger()" class='hamburger-control'>
	<img src="/static/icon/hamburger.png" class='hamburger'>
</div>

<div class='view' id='list-view'>

	<div id="list-info" ng-class="{'active': editingListInfo}" class='heading container-bar touchable'>
		<div class='list-main-info' ng-click="clickListInfo()">
			<span class='icon house'></span>
			<h1 class='name'>{{list.name || 'NEW_CLIENT' | translate | limitTo: 15 }}</h1>
			<div ng-show="!editingListInfo">
				<p>{{list.location || 'LOCATION' | limitTo:35 | translate }}</p>
				<p>{{(list.phonenumber | telephone) || 'PHONENUMBER' | translate }}</p>
			</div>
		</div>
		<div ng-show="editingListInfo">
			<p class='error'>{{error.message | translate }}</p>
			<div class='input-group'>
				<div class='label-container'><label>{{ 'NAME' | translate: 'titlecase' }}:</label></div>
				<input ng-model="list.name" type="text">
			</div>

			<div class='input-group'>
				<div class='label-container'><label>{{ 'ADDRESS' | translate: 'titlecase' }}:</label></div>
				<textarea id='location-input' ng-model="list.location"></textarea>
				<div id='nearest-locations-container'>
					<span ng-show="!nearestLocations" ng-click="useCurrentLocation()" id='use-current-location-btn'>{{ 'USE_CURRENT_LOCATION' | translate }}</span>
					<span class='location' ng-click="useLocation(location)" ng-repeat="location in nearestLocations">
					{{location}}
					</span>
				</div>
			</div>

			<div class='input-group'>
				<div class='label-container'><label>{{ 'PHONE' | translate: 'titlecase' }}:</label></div>
				<input class='phonenumber' ng-model="list.phonenumber" type="number">
			</div>

			<button ng-click="saveList()" class='save-btn'>{{ 'SAVE' | translate: 'uppercase' }}</button>
		</div>
	</div>

	<div id='list-title-banner'>
		<h3>{{ 'CLEANING_AGREEMENT' | translate: 'uppercase' }}</h3>
	</div>

	<div ng-repeat="room in list.rooms" ng-class="{'active': room.active}" class='touchable room-container container-bar'>
		<div class='room-main-info'>
			<span class="expand-btn" ng-click="clickRoom(room)">
				<span ng-class="room.type" class='icon'></span>
				<h1 ng-class="room.type" class='title'>{{room.name | translate: 'uppercase' }}</h1>
			</span>

			<span class='room-count-container'>
				<img ng-click="decrementRoomCount(room)" ng-show="room.active" class='room-count-btn' src="/static/icon/minus.png">
				<img ng-click="incrementRoomCount(room)" ng-show="room.active" class='room-count-btn' src="/static/icon/plus.png">
				<span ng-class="room.type" class='room-count'>{{room.count}}</span>
			</span>
		</div>

		<div ng-show="room.active" class='room-details-container'>

			<p class='select-all' ng-click="selectAllTasks(room)">{{ 'SELECT_ALL' | translate }}</p>
			<div ng-click="clickTask(room, task)" class='task' ng-class="{'selected': task.selected}" ng-repeat="task in room.tasks">
				<span ng-show="task.selected">-</span>
				<span ng-show="!task.selected">+</span>
				<span>{{ task.name | translate }}</span>
			</div>
			<div ng-model="newCustomTask" class='task add-custom-task'>
				<span>+</span>
				<input ng-model="newCustomTask" type="text">
				<button class='save-btn' ng-show="newCustomTask" ng-click="addCustomTask(room, newCustomTask);newCustomTask='';">{{ 'SAVE' | translate: 'uppercase' }}</button>
			</div>
		</div>
	</div> <!-- ng-repeat="room in list.rooms" -->

	<span class='divider'></span>

	<div ng-show="list.feedbacks" class='feedback-container container-bar' ng-class="{'active': !hidingFeedback}">
		<div class='main-info' ng-click="hidingFeedback=!hidingFeedback">
			<span class='icon feedback'></span>
			<h1 class='title feedback'>{{ 'FEEDBACK' | translate: 'uppercase' }}</h1>
		</div>

		<div class='show-feedback-container' ng-show="!hidingFeedback">

			<p class='error'>{{error.message | translate }}</p>

			<div class='feedback-item' ng-repeat="feedback in list.feedbacks">
				<span class='icon feedback-rating feedback-rating-{{feedback.rating}}'></span>
				<div class='feedback-info'>
					<p class='date'>{{ feedback.date | date: 'shortDate' }}
					<p ng-show="feedback.why" class='why'>
						<span class='prompt'>{{ 'WHY' | translate }}</span> 
						{{feedback.why}}
					</p>
					<p ng-show="feedback.request" class='request'>
						<span class='prompt'>{{ 'NEXT TIME' | translate }}...</span>
						{{feedback.request}}
					</p>
				</div>
				<span ng-click="deleteFeedback(feedback)" class='icon feedback-delete-btn'></span>
			</div>
		</div>
	</div> <!-- feedback-container -->

	<div class='notes-container container-bar' ng-class="{'active': showingNotes}">
		<div class='notes-main-info' ng-click="clickNotes()">
			<span class='icon notes'></span>
			<h1 class='title notes'>{{ 'NOTES' | translate: 'uppercase' }}</h1>
		</div>

		<div ng-show="showingNotes" class='show-notes-container'>
			<!-- if editing notes, show <textarea> and SAVE btn.  Otherwise <p> and EDIT btn. -->
			<p ng-show="!editingNotes">{{list.notes}}</p>
			<textarea ng-show="editingNotes" ng-model="list.notes"></textarea>
			<div class='btn-container'>
				<!-- only cleaner can edit notes -->
				<button ng-click="editNotes()" ng-show="!editingNotes" class='save-btn btn'>{{ 'EDIT' | translate: 'uppercase' }}</button>
				<button ng-click="saveNotes()" ng-show="editingNotes" class='save-btn btn'>{{ 'SAVE' | translate: 'uppercase' }}</button>
			</div>
		</div>
	</div> <!-- notes-container -->

	<div class='price-container container-bar' ng-class="{ 'active': editingPrice }">
		<div class='price-main-info'>
			<span ng-click="editPrice()" class='icon price'></span>
			<h1 ng-click="editPrice()" ng-show="!editingPrice" class='title price'>
				<!-- weird hack to avoid white space between list.price and .00: spans must be right next to eachother -->
				<span>{{list.price || 'COST' | translate: 'uppercase' }}</span><span ng-show='list.price'>.00</span>
			</h1>
			<input class='price-input' maxlength="4" placeholder="00" ng-show="editingPrice" type='number' ng-model="list.price">
			<button ng-click="savePrice()" ng-show="editingPrice" class='save-btn btn'>{{ 'SAVE' | translate: 'uppercase' }}</button>
		</div>
	</div> <!-- price-container -->


	<!-- list sending UI -->
	<div id='send-btn-container'>

		<p id='last-modified'>{{ 'LAST_MODIFIED' | translate: 'titlecase' }}: {{ list.last_modified | date:'shortDate' }}</p>

		<button ng-show="sendStatus!='sent'&&sendStatus!='sending'" ng-click="sendAgreement()" class='btn short'>{{ 'SEND' | translate: 'uppercase' }}</button>
		<p ng-show="sendStatus=='sending'" id='sent-confirmation'>{{ 'SENDING' | translate: 'uppercase' }}...</p>
		<p ng-show="sendStatus=='sent'" id='sent-confirmation'>{{ 'SENT' | translate: 'uppercase' }}!</p>
	</div>

</div>








