<div class='view' id='lists-view'>

	<div class='heading container-bar'>
		<img class='icon logo'>
		<h1 class='title'>SAVED LISTS</h1>
	</div>


	<div ng-click="newList()" class='add touchable list-item-container container-bar'>
		<img class='icon'>

		<div class='list-item'>
			<h2 class='title'>CREATE NEW LIST</h2>
		</div>
	</div>

	<div ng-click="viewList()" ng-repeat="list in lists" class='touchable list-item-container container-bar'>
		<img class='icon'>

		<div class='list-item'>
			<h2 class='list-item-name'>{{list.name}}</h2>
			<p>modified {{list.last_modified}}</p>
		</div>
	</div>


</div>