<div class='view sign-in' id='new-view'>

    <span class='icon logo big'></span>

<section class='sign-in' ng-show="stage==0||showAll" id='create-username'>
	<p class='error'>{{ error.message | translate }}</p>

    <input ng-model="cleaner.name" type='text' placeholder="{{ 'WHAT_IS_YOUR_NAME' | translate }}" >

    <phonenumber-directive ng-class="{'error':error.phonenumber}" placeholder="'WHAT_IS_YOUR_PHONENUMBER'" model='cleaner.phonenumber'></phonenumber-directive>
    
    <button ng-show='!waiting' ng-click="submitPhonenumber()" ng-disabled="!(cleaner.name&&cleaner.phonenumber)" class='btn'>{{ 'NEXT' | translate: 'uppercase' }}</button>
    <p ng-show='waiting'>{{ 'VERIFYING_PHONENUMBER' | translate }}...</p>

</section>
<section class='sign-in' ng-show="stage==1||showAll" id='create-password'>

	<h2 class='name'>{{cleaner.name}}</h2>
	<p class='error'>{{ error.message | translate }}</p>

    <input ng-model="cleaner.password" ng-class="{'error':error.password}" type='password' placeholder="{{ 'CREATE_PASSWORD' | translate }}" >
    <input ng-model="cleaner.confirmPassword" ng-class="{'error':error.confirmPassword}" type='password' placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" >
    <button ng-click="submitPassword()" ng-disabled="!(cleaner.password&&cleaner.confirmPassword)" class='btn'>{{ 'NEXT' | translate: 'uppercase' }}</button>

</section>

</div>

<div id="about-help-container" ng-include="'/static/html/partials/about-help-container.html'"></div>