<div class='view' id='receipt-view'>

	<div id='header'>
		<img src='/static/icon/log.png'>
		<div class='cleaner-info'>
			<h2 id='cleaner-name'>{{cleaner.name}}</h2>
			<p id='cleaner-phonenumber'>{{cleaner.phonenumber}}</p>
		</div>
		
		<hr class='line' />
	</div>

	<div class='receipt-info'>
		<div class='client-info'>
			<h4>{{list.name}}</h4>
			<h4>{{list.location}}</h4>
			<h4>{{list.phonenumber}}</h4>
		</div>
		
	</div>


	<ng-include src="'/static/html/partials/static-list.html'"></ng-include>

























</div>