<div class='view sign-in' id='reset-password-view'>

	<div ng-show="stage==0" class='container'>
	
		<h2 class='title'>{{ 'WE_WILL_SEND_RESET_CODE' | translate }}</h2>

		<p class='error'>{{ error.message | translate }}</p>

    	<phonenumber-directive ng-class="{'error':error.phonenumber}" placeholder="'PHONENUMBER'" model='cleaner.phonenumber'></phonenumber-directive>

		<button ng-click="sendResetCode()" ng-disabled="!(cleaner.phonenumber)" class='btn'>{{ 'SEND_RESET_CODE' | translate: 'uppercase' }}</button>

	</div>


	<div ng-show="stage==1" class='container'>

		<div class='bubble'>
			<p class='text'>{{ 'ENTER_RESET_CODE_RECEIVED' | translate }}</p>
		</div>

		<p class='error'>{{ error.message | translate }}</p>

		<input ng-model="cleaner.reset_code" ng-class="{'error':error.reset_code}" type='text' class='text-field' placeholder="{{ 'RESET_CODE_PLACEHOLDER' | translate }}" >
		<input ng-model="cleaner.password" ng-class="{'error':error.password}" type='text' class='text-field' placeholder="{{ 'NEW_PASSWORD_PLACEHOLDER' | translate }}" >
		<input ng-model="cleaner.confirmPassword" ng-class="{'error':error.confirmPassword}" type='text' class='text-field' placeholder="{{ 'CONFIRM_PASSWORD_PLACEHOLDER' | translate }}" >
		<button ng-click="submitNewPassword()" ng-disabled="!(cleaner.reset_code&&cleaner.password&&cleaner.confirmPassword)" class='btn'>{{ 'RESET' | translate: 'uppercase' }}</button>

		<div class='other-options'>
			<a ng-show="sendAgainEnabled" ng-click="sendResetCode()">{{ 'SEND_CODE_AGAIN' | translate }}</a>
		</div>

	</div>
</div>