<!-- static list in included in both list-view.html and reciept-view.html -->

<div id='static-list-partial'>

	<div class='room' ng-repeat="room in list.rooms">
		<span class='room-title'>
			<p class='room-name'>{{ room.name | translate: 'uppercase' }}</p>
			<p class='room-count'>{{room.count}}</p>
		</span>
		<p class='task' ng-class="{'custom':task.custom}" ng-show="task.selected" ng-repeat="task in room.tasks">{{ task.name | translate }}</p>
	</div>
	
	<div ng-if="list.notes" id='notes'>
		<p class='notes-title'>{{ 'NOTES' | translate: 'uppercase' }}:</p>
		<p class='notes-content'>{{list.notes}}</p>
	</div>

	<hr class='line' />
	
	<div ng-if="list.price" id='price'>
		<span class='price-title'>{{ 'PRICE' | translate: 'uppercase' }}:</span>
		<span class='price-amount'>${{list.price}}.00</span>
	</div>

	<hr ng-if="list.price" class='line' />


</div>