/***************************************************
	Significance Labs
	Brooklyn, NYC

 	Author: Alexandra Berke (aberke)
 	Written: June 2014


 	base CSS styles 

****************************************************/

/* - colors ------------- */
.blue-1 { color: #a0e4f9; }
.blue-2 { color: #54c0dd; }
.blue-3 { color: #29abe2; }
.orange { color: #ef7625; }
.purple { color: #1b1464; }
/* ------------- colors - */

@font-face {
    font-family: Montserrat-Regular;
    src: url(/static/fonts/Montserrat-Regular.ttf);
}


html,body, #view, .view {
	margin: 0;
	padding: 0;
	background-color: #a0e4f9;
	height: 100%;
}
a, button { cursor: pointer; }
button:disabled { cursor: initial; }

h1,h2,h3,h4,h5,p,li,a, td, th, span, label {
	font-family: Montserrat-Regular;
	margin: 0;
}

.icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-position: center !important;
	border-radius: 6px;
}

.icon.logo {
	border: 2px solid white;
	border-radius: 50%;
}
.icon.bathroom {
	background: url(/static/icon/BATHROOM.png);
}
.icon.bedroom {
	background: url(/static/icon/BEDROOM.png);
}
.icon.add {
	background: url(/static/icon/ADD.png);
}
.icon.etc {
	background: url(/static/icon/ETC.png);
}
.icon.living-room {
	background: url(/static/icon/LIVINGROOM.png);
}
.icon.kitchen {
	background: url(/static/icon/KITCHEN.png);
}
.icon.house-blue{
	background: url(/static/icon/house/house-blue2.png);
}
.icon.house,
.icon.house-1,
.icon.house-5 {
	background: url(/static/icon/house/house-blue3.png);
}
.icon.house-orange,
.icon.house-2,
.icon.house-6 {
	background: url(/static/icon/house/house-orange.png);
} 
.icon.house-0,
.icon.house-4 {
	background: url(/static/icon/house/house-purple.png);
}
.icon.house-3 {
	background: url(/static/icon/house/house-blue2.png);
}



.text-field, .btn {
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 300px;
	border-width: 3px;
	border-style: solid;
}
.text-field.short,
.btn.short {
	width: auto;
}
.save-btn {
	color: white;
	width: 40px;
	height: 20px;
	border: none;
	border-radius: 4px;
}
input,
.text-field {
	background-color: transparent;
	border-color: white;
	color: #29abe2;
}
::-webkit-input-placeholder { color: #29abe2; }
:-moz-placeholder { color: #29abe2; }
::-moz-placeholder { color: #29abe2; }
:-ms-input-placeholder { color: #29abe2; }

.btn {
	color: #a0e4f9;
	background-color: #29abe2;
	border-color: #29abe2;
}
.btn:hover, .btn.hover,
.btn:disabled {
	background-color: #54c0dd;
	border-color: #54c0dd;
}
.btn:disabled {
	cursor: default;
}
a.btn {
	text-decoration: none;
}
.next {
	text-align: right;
}
.next .btn {
	width: 100px;
	border-color: #a0e4f9;
	text-align: center;
}
.banner{
	background-color: #ef7625;
	color: white;
	font-size: 4em;
	padding: 0.1em;
	text-align: center;
}

.textarea,input ::-webkit-input-placeholder { color: #a0e4f9; }
.textarea,input :-moz-placeholder { color: #a0e4f9; }
.textarea,input ::-moz-placeholder { color: #a0e4f9; }
.textarea,input :-ms-input-placeholder { color: #a0e4f9; }



.clear {
  clear: both;
}

p.error {
	margin: auto;
	color: red;
	text-align: center;
}

input.error {
	border: 2px solid red;
}
.action-bubble {
	border: 4px solid #29abe2;
	border-radius: 50%;
	background-color: #a0e4f9;
	width: 100px;
	height: 100px;
	color: white;
	text-align: center;
	position: relative;
}
.action-bubble h3 {
	font-size: 18px;
}

.hamburger-control {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
}
img.hamburger {
	width: 25px;
	height: 25px;
}

/*- titles --------------------*/
.title.bedroom,
.bedroom {
	color: #1b1464;
}
.living-room,
.etc,
.title.living-room,
.title.etc {
	color: #54c0dd;
}
.bathroom,
.title.bathroom  {
	color: #29abe2;
}
.kitchen,
.title.kitchen  {
	color: #ef7625;
}

#control-view {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 150px;
	background-color: #29abe2;
	height: 100%;
}
#control-view > * {
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

/*- view ----------------------*/

#view {
	position: absolute;
	width: 100%;
	z-index: 1;
	right: 0;
}
#view.collapsed {
	right: 150px;
}

/*
container-bar
special case is the .heading
*/
.container-bar {
	height: 50px; /*.icon has height 50px*/
	padding: 7px 0;
	border-bottom: 1px solid white;
}
.container-bar.active {
	height: auto;
	background-color: white;
}
.container-bar.touchable.hover{
	background-color: white;
}
.container-bar .icon {
	margin: 0 10px;
}
.container-bar .icon,
.container-bar .title {
	float: left;
}
.container-bar .title {
	margin: 12px 0 0 0;
}
.container-bar .title,
.container-bar .name,
.container-bar .task-count {
	font-size: 20px;
}
.heading p {
	font-size: 10px;
}
.heading .title {
	color: white;
}
.heading .name {
	color: #ef7625;
}

.list-item {
	float: left;
	color: #1b1464;
}
.container-bar .task-count {
	float: right;
	margin: 10px 15px;
}

/*---------------------- view -*/


/* list view -------------------*/

.list-main-info {
	height: 50px;
}
#list-info .error {
	max-width: 200px;
}
#list-info label, 
#list-info input, 
#list-info textarea {
	font-size: 12px;
	vertical-align: top;
}
#list-info .save-btn {
	background-color: #54C0DD;
}
#list-info .label-container {
	width: 50px;
	display: inline-block;
	margin: 8px;
	text-align: right;
}
#list-info label {
	color: #54c0dd;
}
#list-info input,
#list-info textarea {
	border: 1px solid gray;
	margin: 8px;
	width: 180px;
	box-sizing: content-box;
	border-radius: 0;
}
#list-info .save-btn {
	display: block;
	margin: auto;
}


.room-main-info {
	float: left;
	width: 100%;
}
.tasks-container {
	clear: both;
	padding: 10px;
}
.task {
	font-size: 18px;
	padding: 2px;
	color: #1b1464;
}
.task.hover,
.task.selected {
	background-color: #1b1464;
	color: white;
}
.task.add-custom-task {
	background-color: white;
	color: #1b1464;
}
.task.add-custom-task input {
	border: 1px solid #1b1464;	
}
.add-custom-task .save-btn {
	background-color: #1b1464;
}

#send-btn {
	float: right;
	margin: 15px;
}
#sent-confirmation {
	text-align: right;
	margin: 15px;
	color: #29abe2;
}

/* ------- index-view ---------- */
#index-view .banner{
	margin: 0.5em 0 0 0;
	font-size: 4em;
	color: #a0e4f9;
}
#index-view section {
	max-width: 600px;
	margin: auto;
	padding: 1em;
}
#index-view #welcome-copy {
	font-size: 18px;
	color: #1b1464;
	margin: 2em auto;
}
@media (min-width: 500px) {
	#index-view .btn.left {
		float: left;
	}
	#index-view .btn.right {
		float: right;
	}
}
@media (max-width: 499px) {
	#index-view .btn {
		display: block;
		margin: 10px auto;
	}
}
/* ---------------- index-view - */


#temp {
	position: absolute;
}

/* - style-guide ---------------- */

/* need space between everything */
#style-guide >* {
	margin: 30px;
}

#style-guide #colors{
	background-color: white;
	padding: 10px;
}
#style-guide #colors span{
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
}





/* ---------------- style-guide - */




