/***************************************************
	Significance Labs
	Brooklyn, NYC

 	Author: Alexandra Berke (aberke)
 	Written: Summer 2014


 	base CSS styles 

****************************************************/

/* - colors ------------- */
.blue-1 { color: #a0e4f9; }
.blue-2 { color: #54c0dd; }
.blue-3 { color: #29abe2; }
.orange { color: #ef7625; }
.purple { color: #1b1464; }
/* ------------- colors - */

@font-face {
    font-family: Montserrat-Regular;
    src: url(/static/fonts/Montserrat-Regular.ttf);
}


html,body, #view, .view {
	margin: 0;
	padding: 0;
	background-color: #a0e4f9;
	height: 100%;
}
a, button { cursor: pointer; }
button:disabled { cursor: initial; }

h1,h2,h3,h4,h5,p,li,a, td, th, span, label {
	font-family: Montserrat-Regular;
	margin: 0;
}

.icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-position: center !important;
	border-radius: 6px;
}
img.logo {
	width: 130px;
}
.icon.logo {
	border-radius: 50%;
	background: url(/static/img/sl_logo_100px.png);
	background-size: contain;
}
.icon.notes {
	background: url(/static/icon/NOTES.png);
}
.icon.price {
	background: url(/static/icon/PRICE.png);
}
.icon.bathroom {
	background: url(/static/icon/BATHROOM.png);
}
.icon.bedroom {
	background: url(/static/icon/BEDROOM.png);
}
.icon.add {
	background: url(/static/icon/ADD.png);
}
.icon.etc {
	background: url(/static/icon/ETC.png);
}
.icon.living-room {
	background: url(/static/icon/LIVINGROOM.png);
}
.icon.kitchen {
	background: url(/static/icon/KITCHEN.png);
}
.icon.house-blue{
	background: url(/static/icon/house/house-blue2.png);
}
.icon.house,
.icon.house-1,
.icon.house-5 {
	background: url(/static/icon/house/house-blue3.png);
}
.icon.house-orange,
.icon.house-2,
.icon.house-6 {
	background: url(/static/icon/house/house-orange.png);
} 
.icon.house-0,
.icon.house-4 {
	background: url(/static/icon/house/house-purple.png);
}
.icon.house-3 {
	background: url(/static/icon/house/house-blue2.png);
}



.btn {
	cursor: pointer;
	box-sizing: content-box;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 300px;
	border-width: 3px;
	border-style: solid;
}
.btn.short {
	width: auto;
}
.save-btn {
	color: white;
	width: 40px;
	height: 20px;
	border: none;
	border-radius: 4px;
	padding: 4px;
}
input, textarea {
	background-color: transparent;
	color: #29abe2;
	border-radius: 0;
	box-sizing: content-box;
}
::-webkit-input-placeholder { color: #29abe2; }
:-moz-placeholder { color: #29abe2; }
::-moz-placeholder { color: #29abe2; }
:-ms-input-placeholder { color: #29abe2; }

/*hide number arrow for phonenumber input*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn {
	color: #a0e4f9;
	background-color: #29abe2;
	border-color: #29abe2;
}
.btn:hover, .btn.hover,
.btn:disabled {
	background-color: #54c0dd;
	border-color: #54c0dd;
}
.btn:disabled {
	cursor: default;
}
a.btn {
	text-decoration: none;
}
.next {
	text-align: right;
}
.next .btn {
	width: 100px;
	border-color: #a0e4f9;
	text-align: center;
}

.textarea,input ::-webkit-input-placeholder { color: #a0e4f9; }
.textarea,input :-moz-placeholder { color: #a0e4f9; }
.textarea,input ::-moz-placeholder { color: #a0e4f9; }
.textarea,input :-ms-input-placeholder { color: #a0e4f9; }



.clear {
  clear: both;
}

p.error {
	margin: auto;
	color: red;
	text-align: center;
}

input.error,
input.ng-invalid {
	border: 2px solid red;
}
.action-bubble {
	border: 4px solid #29abe2;
	border-radius: 50%;
	background-color: #a0e4f9;
	width: 100px;
	height: 100px;
	color: white;
	text-align: center;
	position: relative;
}
.action-bubble h3 {
	font-size: 18px;
}

.hamburger-control {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
}
img.hamburger {
	width: 25px;
	height: 25px;
}

/*- titles --------------------*/
.title.bedroom,
.bedroom {
	color: #1b1464;
}
.living-room,
.etc,
.title.living-room,
.title.etc {
	color: #54c0dd;
}
.bathroom,
.title.bathroom  {
	color: #29abe2;
}
.kitchen,
.title.kitchen  {
	color: #ef7625;
}
.title.notes {
	color: #ef7625;
}
.title.price {
	color: #1b1464;
}

#control-view {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 150px;
	background-color: #29abe2;
	height: 100%;
}
#control-view > * {
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

/*- view ----------------------*/

#view {
	position: absolute;
	width: 100%;
	z-index: 1;
	right: 0;
	transition: 0.25s;
}
#view.collapsed {
	right: 150px;
}

/*
container-bar
special case is the .heading
*/
.container-bar {
	height: 50px; /*.icon has height 50px*/
	padding: 7px 0;
	border-bottom: 1px solid white;
}
.container-bar.active {
	height: auto;
	background-color: white;
}
.container-bar.touchable.hover{
	background-color: white;
}
.container-bar .icon {
	margin: 0 10px;
}
.container-bar .icon,
.container-bar .title {
	float: left;
}
.container-bar .title {
	margin: 12px 0 0 0;
}
.container-bar .title,
.container-bar .name,
.container-bar .room-count {
	font-size: 20px;
}
.heading p {
	font-size: 10px;
}
.heading .title {
	color: white;
}
.heading .name {
	color: #ef7625;
}


/*---------------------- view -*/

/*- Dashboard view -------------*/

.list-item {
	max-width: 220px;
	float: left;
	color: #1b1464;
}
.list-item-container .delete-btn {
	float: right;
	margin: 15px 8px 15px 5px;
	font-weight: bold;
	font-size: 18px;
}

/*------------- Dashboard view -*/

/* list view -------------------*/

#list-view .divider { /*white line divider*/
	background-color: white;
	display: block;
	height: 2px;
	width: 100%;
}
.list-main-info {
	height: 50px;
}
#list-info .error {
	max-width: 200px;
}
#list-info label, 
#list-info input, 
#list-info textarea {
	font-size: 12px;
	vertical-align: top;
}
#list-info .save-btn {
	background-color: #54C0DD;
}
#list-info .label-container {
	width: 50px;
	display: inline-block;
	margin: 8px;
	text-align: right;
}
#list-info label {
	color: #54c0dd;
}
#list-info input,
#list-info textarea {
	border: 1px solid gray;
	margin: 8px;
	width: 180px;
	border-radius: 0;
	padding: 3px;
}
#list-info #location-input {
	margin-bottom: 0;
}
#list-info #nearest-locations-container {
	width: 180px;
	margin-left: 80px;
	font-size: 12px;
}
#list-info #use-current-location-btn {
	color: #54c0dd;
	text-decoration: underline;
}
#list-info .location {
	display: block;
	margin: 10px 0;
	color: #54c0dd;
}
#list-info .save-btn {
	display: block;
	margin: 0 0 0 225px;
}

.room-main-info,
.notes-main-info,
.price-main-info {
	float: left;
	width: 100%;
}
.room-main-info .expand-btn {
	display: inline-block;
}
.room-details-container {
	clear: both;
	padding: 10px;
}
.room-count-container {
	display: inline-block;
	float: right;
}
.room-count-container .room-count-btn {
	display: inline-block;
	height: 30px;
	margin: 10px 0;
}
.room-count-container .room-count {
	margin: 12px 10px 0px 0px;
	display: inline-block;
	vertical-align: top;
	width: 10px;
}
.select-all {
	color: #1b1464;
	/* optimize style for easy clickability */
	display: inline-block;
	padding: 5px 0;
	margin: 0 0 5px 0;
	cursor: pointer;
}
.task {
	font-size: 18px;
	padding: 2px;
	color: #1b1464;
}
.task.hover,
.task.selected {
	background-color: #1b1464;
	color: white;
}
.task.add-custom-task {
	background-color: white;
	color: #1b1464;
}
.task.add-custom-task input {
	border: 1px solid #1b1464;	
}
.add-custom-task .save-btn {
	background-color: #1b1464;
}
.show-notes-container {
	clear: both;
	padding: 10px 20px 0 20px;
}
.show-notes-container textarea {
	width: 100%;
	min-height: 80px;
}
.show-notes-container .btn {
	display: inline-block;
	height: 25px;
}
.show-notes-container .btn-container {
	text-align: right;
	margin: 5px 0 0 0;
}
.price-container {
	height: 50px !important;
}
.price-container .title { /*since it's clickable, must be wide*/
	min-width: 200px;
}
.price-main-info input,
.price-main-info .btn {
	margin: 10px;
}
.price-main-info input {
	height: 20px;
	padding: 2px;
	color: #1b1464;
	border: 1px solid #1b1464;
}
.price-main-info input.ng-invalid,
.price-main-info input.error {
	border: 3px solid red;
}
.price-main-info .btn {
	float: right;
	padding: 5px;
}



#send-btn {
	float: right;
	margin: 15px;
}
#sent-confirmation {
	text-align: right;
	margin: 15px;
	color: #29abe2;
}

/* ------- index-view ---------- */
#index-view {
	padding: 15px 0;
}
#index-view .logo {
	display: block;
	margin: auto;
}
#index-view .banner{
	font-size: 2.5em;
	color: white;
	text-align: center;
}
#index-view section {
	max-width: 230px;
	margin: auto;
	padding: 0 40px;
}
#index-view #welcome-copy {
	font-size: 18px;
	color: #1b1464;
	margin: 2em auto;
}
@media (min-width: 500px) {
	#index-view .btn.left {
		float: left;
	}
	#index-view .btn.right {
		float: right;
	}
}
@media (max-width: 499px) {
	#index-view .btn {
		display: block;
		margin: 10px auto;
	}
}
/* ---------------- index-view - */


#temp {
	position: absolute;
}

/* - style-guide ---------------- */

/* need space between everything */
#style-guide >* {
	margin: 30px;
}

#style-guide #colors{
	background-color: white;
	padding: 10px;
}
#style-guide #colors span{
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
}





/* ---------------- style-guide - */




