/***************************************************
	Significance Labs
	Brooklyn, NYC

 	Author: Alexandra Berke (aberke)
 	Written: Summer 2014


 	base CSS styles 

****************************************************/

/* - colors ------------- */
.blue-1 { color: #a0e4f9; }
.blue-2 { color: #54c0dd; }
.blue-3 { color: #29abe2; }
.orange { color: #ef7625; }
.purple { color: #1b1464; }
/* ------------- colors - */

@font-face {
    font-family: Montserrat-Regular;
    src: url(/static/fonts/Montserrat-Regular.ttf);
}


html,body, #view, .view {
	margin: 0;
	padding: 0;
	background-color: #a0e4f9;
	height: 100%;
}
a, button, .touchable { cursor: pointer; }
button:disabled { cursor: initial; }

h1,h2,h3,h4,h5,p,li,a, td, th, span, label {
	font-family: Montserrat-Regular;
	margin: 0;
}

.icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-position: center !important;
	border-radius: 6px;
	background-repeat: no-repeat;
}
.icon.logo {
	border-radius: 50%;
	background: url(/static/icon/neatstreak_placeholder.png);
	background-size: contain;
}
.icon.logo.big {
	height: 130px;
	width: 130px;
}
.icon.feedback {
	background: url(/static/icon/FEEDBACK.png);
}
.icon.notes {
	background: url(/static/icon/NOTES.png);
}
.icon.price {
	background: url(/static/icon/PRICE.png);
}
.icon.bathroom {
	background: url(/static/icon/BATHROOM.png);
}
.icon.bedroom {
	background: url(/static/icon/BEDROOM.png);
}
.icon.add {
	background: url(/static/icon/ADD.png);
}
.icon.etc {
	background: url(/static/icon/ETC.png);
}
.icon.living-room {
	background: url(/static/icon/LIVINGROOM.png);
}
.icon.kitchen {
	background: url(/static/icon/KITCHEN.png);
}
.icon.house-blue{
	background: url(/static/icon/house/house-blue2.png);
}
.icon.house,
.icon.house-1,
.icon.house-5 {
	background: url(/static/icon/house/house-blue3.png);
}
.icon.house-orange,
.icon.house-2,
.icon.house-6 {
	background: url(/static/icon/house/house-orange.png);
} 
.icon.house-0,
.icon.house-4 {
	background: url(/static/icon/house/house-purple.png);
}
.icon.house-3 {
	background: url(/static/icon/house/house-blue2.png);
}



.btn {
	cursor: pointer;
	box-sizing: content-box;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 300px;
	border-width: 3px;
	border-style: solid;
}
.btn.short {
	width: auto;
}
.save-btn {
	color: white;
	max-width: 70px;
	height: 20px;
	border: none;
	border-radius: 4px;
	padding: 4px;
}
input, textarea {
	background-color: transparent;
	color: #29abe2;
	border-radius: 0;
	box-sizing: content-box;
}
::-webkit-input-placeholder { color: #29abe2; }
:-moz-placeholder { color: #29abe2; }
::-moz-placeholder { color: #29abe2; }
:-ms-input-placeholder { color: #29abe2; }

/*hide number arrow for phonenumber input*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn {
	color: #a0e4f9;
	background-color: #29abe2;
	border-color: #29abe2;
	display: inline-block;
}
.btn:hover, .btn.hover,
.btn:disabled {
	background-color: #54c0dd;
	border-color: #54c0dd;
}
.btn:disabled {
	cursor: default;
}
a.btn {
	text-decoration: none;
}
.next {
	text-align: right;
}
.next .btn {
	width: 100px;
	border-color: #a0e4f9;
	text-align: center;
}

.textarea,input ::-webkit-input-placeholder { color: #a0e4f9; }
.textarea,input :-moz-placeholder { color: #a0e4f9; }
.textarea,input ::-moz-placeholder { color: #a0e4f9; }
.textarea,input :-ms-input-placeholder { color: #a0e4f9; }



.clear {
  clear: both;
}

p.error {
	margin: auto;
	color: red;
	text-align: center;
}

input.error,
input.ng-invalid {
	border: 2px solid red;
}
/*.action-bubble {
	border: 4px solid #29abe2;
	border-radius: 50%;
	background-color: #a0e4f9;
	width: 100px;
	height: 100px;
	color: white;
	text-align: center;
	position: relative;
}*/
/*.action-bubble h3 {
	font-size: 18px;
}*/
.change-language {
	color: #29abe2;
	display: block;
	margin: 25px 0;
	text-align: center;
	cursor: pointer;
	bottom: 0;
	width: 100%;
	font-size: 12px;
}

.hamburger-control {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
}
img.hamburger {
	width: 25px;
	height: 25px;
}

/*- titles --------------------*/
.title.bedroom,
.bedroom {
	color: #1b1464;
}
.living-room,
.etc,
.title.living-room,
.title.feedback,
.title.etc {
	color: #54c0dd;
}
.bathroom,
.title.bathroom  {
	color: #29abe2;
}
.kitchen,
.title.kitchen  {
	color: #ef7625;
}
.title.notes {
	color: #ef7625;
}
.title.price {
	color: #1b1464;
}

/* - control-view ---------------- */

#control-view {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 150px;
	background-color: #29abe2;
	height: 100%;
}
#control-view > * {
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}
/* control-toggles mimic radio buttons */
.control-toggle {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 130px;
	margin: 10px;
	color: white;
	font-size: 18px;
	padding: 5px 0;
}
.control-toggle .control {
	margin: 10px 0;
}
.control .control-status {
	background-color: white;
	border: 2px solid white;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
}
.control.selected .control-status {
	background-color: #ef7625;
}
.control-toggle label {
	vertical-align: top;
}

/* ---------------- control-view - */

/*- view ----------------------*/

#view {
	position: absolute;
	width: 100%;
	z-index: 1;
	right: 0;
	transition: 0.25s;
}
#view.collapsed {
	right: 150px;
}

/*
container-bar
special case is the .heading
*/
.container-bar {
	height: 50px; /*.icon has height 50px*/
	padding: 7px 0;
	border-bottom: 1px solid white;
}
.container-bar.active {
	height: auto;
	background-color: white;
}
.container-bar.touchable.hover{
	background-color: white;
}
.container-bar .icon {
	margin: 0 10px;
}
.container-bar .icon,
.container-bar .title {
	float: left;
}
.container-bar .title {
	margin: 12px 0 0 0;
}
.container-bar .title,
.container-bar .name,
.container-bar .room-count {
	font-size: 20px;
}
.heading p {
	font-size: 10px;
}
.heading .title {
	color: white;
}
.heading .name {
	color: #ef7625;
}


/*---------------------- view -*/

/*- Dashboard view -------------*/

.list-item-container .title {
	color: #1b1464;
}
.list-item-container .list-item {
	display: inline-block;
}
.list-item-container .name {
	margin: 0;
	width: 100%;
}

.list-item-container .list-item-btns img {
	margin: 0 15px 0 0;
	height: 28px;
}

/*------------- Dashboard view -*/

/* ------- index-view ---------- */
#index-view {
	padding: 15px 0;
	text-align: center;
}
#index-view .banner{
	font-size: 2.5em;
	color: white;
	text-align: center;
}
#index-view section {
	max-width: 230px;
	margin: auto;
	padding: 0 40px;
}
#index-view #welcome-copy {
	font-size: 18px;
	color: #1b1464;
	margin: 2em auto;
}
@media (min-width: 500px) {
	#index-view .btn.left {
		float: left;
	}
	#index-view .btn.right {
		float: right;
	}
}
@media (max-width: 499px) {
	#index-view .btn {
		display: block;
		margin: 10px auto;
	}
}
/* ---------------- index-view - */




/* - style-guide ---------------- */

/* need space between everything */
#style-guide >* {
	margin: 30px;
}

#style-guide #colors{
	background-color: white;
	padding: 10px;
}
#style-guide #colors span{
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
}





/* ---------------- style-guide - */




