/***************************************************
	Significance Labs
	Brooklyn, NYC

 	Author: Alexandra Berke (aberke)
 	Written: June 2014



	styles for sign-in/create user flow

	the following views have the .sign-in class
		sign-in.html
		reset-password.html


 	
****************************************************/

/* - colors ------------- */
.blue-1 { color: #b6e2e9; }
.blue-2 { color: #54c0dd; }
.blue-3 { color: #29abe2; }
.orange { color: #ef7625; }
.purple { color: #1b1464; }
/* ------------- colors - */


.sign-in {
	background-color: #b6e2e9;
	text-align: center;
	color: #29abe2;
	max-width: 250px;
	margin: auto;
}
.sign-in .logo {
	margin-top: 15px;
}
.sign-in .title,
.sign-in input,
.sign-in button,
.sign-in .other-options {
	margin: 12px auto;
	display: block;
}
.sign-in input {
	border-color: white;
	border-radius: 10px;
}
.sign-in input.error,
.sign-in input.ng-invalid {
	border-color: red;
}
.sign-in input,
.sign-in .btn {
	width: 100%;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	border-width: 3px;
	border-style: solid;
	box-sizing: border-box;
}

.sign-in .title {
	color: white;
	max-width: 300px;
}
.other-options a {
	text-decoration: none;
	color: #29abe2;
	margin: 0 5px;
	font-size: 12px;
}
.other-options .left {
	float: left;
}
.other-options .right {
	float: right;
}

/* side bubble on reset-password */
.bubble {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #29abe2;
	color: white;
	margin: 15px auto;
}
.bubble .text {
	padding: 30% 0;
}







