<!DOCTYPE html>
<html lang="en" ng-app="BackstageApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Backstage | Neat Streak</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="TODO">
    <meta name="author" content="Alexandra Berke at Significance Labs">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- stylesheets -->
    <link href="/backstage/static/backstage.css" rel="stylesheet">


    <!-- javascript -->
<!--     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
     -->
     
     <script src="/static/js/vendor/angular.min.js"></script>

    <script src="/static/js/filters.js"></script>

    <script src="/backstage/static/backstage.js"></script>
    


</head>
<body ng-controller="MainController">

    <p class='error'>{{error.message}}</p>

    <div ng-if="loading" id="loading">
        <img src="/backstage/static/cleaning-footsteps.gif">
        <p>Loading data...</p>
    </div>


    <div id='main-container' ng-if="!loading">

        <p class='task custom'>Custom tasks are orange</p>
        <p>Cleaners are sorted by when they were last active.</p>

        <input type='text' placeholder='search cleaners' ng-model='search'>

        <div class='cleaner' ng-class="{'selected': cleaner.show}" ng-repeat="cleaner in cleaners | filter:search | orderBy: 'last_active':true">

            <span ng-click="deleteCleaner(cleaner)" class='delete-cleaner-btn'>DELETE</span>

            <div ng-click='cleaner.show=!cleaner.show'>
                <h3>{{cleaner.name}} | {{cleaner.phonenumber | telephone}} | {{cleaner.lists.length}} Lists</h3>
                <p class="cleaner-last-active">Last active: {{cleaner.last_active | date:'short' }}</p>
            </div>

            <div ng-class="{ 'selected':list.show }" class="list" ng-if="cleaner.show" ng-repeat="list in cleaner.lists | orderBy: 'last_modified':true" ng-click="list.show=!list.show">

                <p class='list-name'>{{list.name || 'UNTITLED'}}</p>
                <p class='list-location'>{{list.location || 'LOCATION'}}</p>
                <p class='list-phonenumber'>{{list.phonenumber || 'PHONENUMBER'}}</p>
                <p class='list-last-modified'>Last modified {{list.last_modified | date:'short' }}</p>
                <p class='list-rooms-count'>{{list.rooms.length}} rooms</p>
                <p class='list-price'>Price: {{list.price || 'Not set'}}</p>

                <div ng-if="list.show" class='list-details'>

                    <div class='list-notes'>
                        <p class='notes-title'>Notes</p>
                        <p class='notes-content'>{{list.notes}}</p>
                    </div>

                    <div class='room' ng-repeat="room in list.rooms">
                        <p class='room-name'>{{room.name}}  ({{room.count || 1}})</p>
                        
                        <ul>
                            <li class='task' ng-class="{'custom':task.custom}" ng-repeat='task in room.tasks'>
                                {{task.name}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

 













</body>
</html>